body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #203c55, #5e9ed7, #b1dcff);
    color: white;
    min-width: 550px;
}

main {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-bottom: 50px;
}

.hero-horizontal-sub {
    min-width: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-screenshot {
    min-width: 500px;
    max-width: 700px;
    width: 100%;
}

.hero-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 50px;
    align-items: center;
    padding-top: 20px;
}

header {
    background-color: #ffffff00; /* Bianco per l'intestazione */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 95%;
    max-width: 100%;
}

h1 {
    font-size: 300%;
    margin: 0;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #fff; /* Bianco per il footer */
    color: #000;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 100%;
}

a {
    color: #ffffff; /* Colore blu Apple */
    text-decoration: none; /* Nessuna sottolineatura */
}

@media only screen {
    .hero-horizontal {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (prefers-color-scheme: dark) {
    #sequoia-vm {
        content: url('./assets/sequoia-vm-dark.png');
    }

    #fedora-vm {
        content: url('./assets/fedora-vm-dark.png');
    }

    body {
        background: linear-gradient(to bottom, #182d40, #385f82, #66849c);
    }

    footer {
        background-color: #201f1f; /* Bianco per il footer */
        color: #fff;
    }
}